.menu {
    width: fit-content;
    padding: 0 14px;
    margin: 0.5rem 0;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 1rem;
}

.hidden {
    display: none;
}

.menu p {
    padding: 0.5rem 0;
}