@import 'src/theme/variables.scss';

.menubar_container {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    height: 24px;
    color: black;
    padding: 0 14px;
    position: relative;
    z-index: 1;
}

.date_container {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.icon {
    background: none;
    border: none;
    padding: 0;
}

.icon img {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
}