.dock_container {
    display: flex;
    width: 100%;
    align-content: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    margin: 25px;
}

.dock {
    background-color: pink;
    height: 50px;
}