// GENERIC VARIABLES

$dropdown-color: #282828;
$black: #000000;
$white: #ffffff;
$highligher: #4B91F7;

$finder-window: #E1E1E0;


// SIZES
$menu-width: 14.5625rem;

$about-this-width: 36.5rem;
$about-this-height: 19.5rem;
$about-this-background-color: #F6F6F6;

// Action Buttons
$action-btn-close: #EC6A5E;
$action-btn-minimize: #F5BF4F;
$action-btn-expand: #61C554;
