@import 'src/theme/variables.scss';

.menubar {
    display: flex;
    background-color: #FFFFFF;
    height: 24px;
    opacity: 0.9;
    color: black;
    padding: 0 14px;
    position: relative;
}

.time {
    margin: 0;
}

.icon {
    background: none;
    border: none;
    padding: 0;
}

.icon img {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
}