@import 'src/theme/variables.scss';

.menubar {
    display: flex;
    background-color: #FFFFFF;
    height: 24px;
    opacity: 0.9;
    color: black;
    padding: 0 14px;
}

.menu {
    width: fit-content;
    padding: 0 14px;
    margin: 0.5rem 0;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.time {
    margin: 0;
}

.icon {
    background: none;
    border: none;
    padding: 0;
}

.icon img {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
}